<div id="container_map">

	<div id="container_form">
		<div id="choice_mode">
			<span id="car-logo" class="active" data-transport="DRIVING"></span>
			<span id="public_transport-logo" data-transport="TRANSIT"></span>
			<span id="bike-logo" data-transport="BICYCLING"></span>
			<span id="walker-logo" data-transport="WALKING"></span>
		</div>
		<div id="sl_start">
			<label id="label_start" class="label_style">{{ data.labelStart }}</label>
			<input id="start" name="start" autocomplete="disabled" class="autocomplete-place" placeholder="{{ data.phStart }}" type="text">
		</div>
		<div id="switch" title="Inverser les adresses de Départ/Arrivée"><span class="btn-icon"><i class="fa fa-exchange fa-2x fa-rotate-90 icon-fa" aria-hidden="true"></i></span></div>
		<div id="sl_end">
			<label id="label_end" class="label_style">{{ data.labelEnd }}</label>
			<select id="end" name="end">
				<option id="title" value="{{ data.address }} ">{{ data.addressTitle }} </option>
			</select>
		</div>
		<span id="label_btn">{{ data.textSubmit }}</span>
		<div id="minimize_restore" title="Réduire"><span class="btn-icon"><i class="fa fa-window-minimize fa-1x icon-fa"></i></span></div>
		<div id="form-restore" title="Restaurer"><span class="btn-icon"><i class="fa fa-window-restore fa-1x icon-fa"></i></span></div>
	</div>

	<div id="map-cr"></div>
</div>



<div id="print">
	<span>Imprimer</span>
	<div id="sub_print">
		<p id="print1">Itinéraire</p>
	</div>
</div>

<div id="directions-panel"></div>

<div id="overlay">
	<div id="map-loader"></div>
</div>

{{ attach_library('calculate_route/google-map') }}
